/* src/components/SignUpPage.css */


.dividerVert2 {
    width: 1px; /* Ancho del divisor */
    background-color: #ccc; /* Color del divisor */
    margin: 20px auto; /* Espacio entre las dos secciones */
}

.logoPngCenter2{
    max-width: 500px;
    max-height: 500px;
}
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
}
.register-form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;

    background-color: #3C0F4B;
    cursor: pointer;
}
.dividerHori2 {
    height: 1px;
    background-color: #FFFFFF;
    margin: 20px 19%;
}
.googleSignUp {
    border-radius: 15px;
    background-color: #FFFFFF;
    object-fit: contain;
    margin-right: 1%;
    margin-left: 20%;
    width: 100%;

}

.twitterSignUp {
    border-radius: 15px;
    background-color: black;
    object-fit: contain;
    margin-left: 1%;

    margin-right: 20%;
    width: 100%;
}

.submitButton2 {
    background-color: #3C0F4B;
    color: #fff;
    border: none;
    padding: 14px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.register-form label {
    margin-bottom: 20px;
}

.register-form input[type="text"], .register-form input[type="password"],.register-form input[type="email"] {
    padding: 20px;
    height: 25%;
    border-radius: 15px;
    margin-bottom: 5%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #494949;
    color: white;
    border-width: 0;
}
.register-form input[type="flex"]{
    padding: 20px;
    height: 25%;
    border-radius: 15px;
    margin-bottom: 5%;
    margin-left: 10px;
    margin-right: 30px;
    background-color: #494949;
    color: white;
    border-width: 0;
}
.centerDiv2 {
    display: flex;
    margin: 3%;
    background-color: #161616;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
}
.logoSect2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerContent {
    display: grid;
    grid-auto-columns: max-content;
    justify-content: center;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 11%;
    text-align: center;
    align-items: center;
    width: 50%;
    max-width: 30%;
}
.passwordInputs {
    display: flex;
    width: 5%;
    margin-right: 20px;
    align-items: center;
    text-align: center;
    justify-content: space-between; /* Para separar los campos */

    margin-bottom: 20px;

}






.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 20px;
    height: 30%;
    border-radius: 15px;
    margin-bottom: 5%;
    background-color: #494949;
    color: white;
    border-width: 0;
}
.signIn {
    text-decoration: none;
    color: #8731E4;
}
