html {
    background-color: #111111;
    color: #fff;
    font-family: Arial, sans-serif;
}


.tryDiv {
    margin-top: 8%;
}

.qr-pic {
    margin-top: 5%;
    max-width: 250px;
    height: auto;
}

.frame {
    justify-self: start;
    align-self: start;

}

.qr-pic:hover {
    cursor: pointer;
}


.app {
    background-color: #111111;
    color: #fff;
}


main {
    display: flex;
}


.main {
    display: flex;
    justify-content: center;
    padding: 5%;

}


.centerDiv {
    display: flex;
    margin: 3%;
    background-color: #161616;
    border-radius: 30px;
    justify-content: space-between;
}

section {
    justify-content: center;
    width: 50%;
}


.studio-image {
    display: flex;
    margin: 2%;
    max-height: 600px;
    align-self: center;
}

.studio-image-PNG {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.contentLanding {
    padding: 5% 0;
    margin-left: 10%;
    text-align: center;
    width: 50%;
    max-width: 30%;
    align-self: center;
}

.h4-landing {
    margin-bottom: 30px;
}

.contentLanding h1 {
    font-size: 3em;
}

.contentLanding p {
    font-size: 1.2em;
}

.LogIn {
    color: #8731E4;
    text-decoration: none;
}


/* Estilos para pantallas de tamaño móvil (600px o menos) */
@media only screen and (max-width: 600px) {
    .centerDiv {
        flex-direction: column !important;
        margin: 10% !important;
    }

    .dl-btn {
        margin: 7%;
        width: 50%;
        padding: 20px;
        background-color: #ffffff;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    .dl-btn:hover {
        background-color: rgb(181, 181, 181) !important;
    }

    .btn-pic{
        max-width: 100px;
        height: auto;
    }


    main {
        padding: 0 !important;
        flex-direction: column !important;
    }

    .studio-image {
        margin: 5%;
    }

    .studio-image-PNG {
        max-width: 90%;
        border-radius: 20px;
    }

    .contentLanding {
        padding: 2% 0;
        margin-left: 0;
        width: 90%;
        max-width: 100%;
    }

    .qr-pic {
        display: none;
    }

    .contentLanding h1 {
        font-size: 2em;
    }

    .contentLanding p {
        font-size: 1em;
    }

    .qr-pic {
        max-width: 200px;
    }

    section {
        width: 100%;
    }
}



