.audio-player {
    height: 0;
    visibility: visible !important;
    justify-content: center;
    display: flex;
    transition: opacity 1s; /* Asegúrate de que la transición esté aquí */
}

.audio-player.visible {
    opacity: 1;
    transition: opacity .7s; /* Transición al aparecer */
}

.audio-player.hidden {
    opacity: 0;
    transition: opacity 1.2s; /* Transición al desaparecer */
}


.card-details-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.rhap_time {
    color: white !important;
    visibility: visible !important;
    z-index: 100 !important;
}

.rhap_main rhap_stacked {
    display: flex;
    justify-content: center !important;
}

.rhap_controls-section {
    height: 0 !important;
    width: 0 !important;
}

.rhap_volume-controls {
    display: none !important;
}

.rhap_container {
    margin-top: 25px;
    color: white;
    background-color: transparent !important;
    max-width: 500px;
    box-shadow: none !important;
    padding: 0 15px !important;
}

.rhap_progress-section {
    margin-top: 85% !important;
    width: 90%;
    align-self: center !important;
}

.rhap_container svg, .rhap_button-clear, .rhap_main-controls {
    height: 100px !important;
    width: 100px !important;
    color: white !important;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100 !important;
    align-self: center !important;
}

.rhap_button-clear {
    background-color: transparent !important;
    border: none !important;
    overflow: unset !important;
}

.rhap_progress-bar {
    background-color: #222 !important;
    border-radius: 10px !important;
}

.rhap_progress-filled {
    background-color: white !important;
    border-radius: 10px !important;
}

.rhap_progress-indicator {
    background: white !important;
}

.card-details-content {
    color: white;
    position: relative;
    background-color: #3C0F4B;
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    min-height: 150px;
}

.card-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.card-details-info {
    justify-content: flex-start;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding-left: 5%;
}


.card-image-container {
    position: relative;
    display: flex;
    width: 400px; /* Ajusta según tus necesidades */
    height: 400px; /* Ajusta según tus necesidades */
    justify-content: center;
}

.card-details-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    justify-self: center;
}
.card-details-image {
    justify-self: center;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.audio-player {
    position: absolute;
    justify-self: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible !important;
    transition: opacity 1s;
}

.audio-player.visible {
    opacity: 1;
    transition: opacity .7s;
}

.audio-player.hidden {
    opacity: 0;
    transition: opacity 1.2s;
}

.rhap_container svg, .rhap_button-clear, .rhap_main-controls {
    height: 100px !important;
    width: 100px !important;
    color: white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100 !important;
}



.card-image-gradient::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Ajusta este valor para cambiar la altura del gradiente */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    border-radius: 25px;
}



.info {
    font-size: 20px;
    padding-top: 2%;
    margin-right: 2%;
}

.card-closeBtn {
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.info-social {
    min-width: 40%;
    max-width: 50%;
}

.info-data {
    min-width: 40%;
    max-width: 50%;
    margin-right: 5%;
}
